.reserved-field {
	display: flex;
	width: 30.069vw;
	padding: 1.389vw;
	align-items: center;
	border-radius: 1.389vw;
	background: var(--background);
}
.reserved-field__text {
	font-size: 1.389vw;
}

@media (max-width: 768px) {
  .reserved-field {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
  }

  .reserved-field__text {
    font-size: 15px;
  }
}
