.textarea {
	padding: 1.389vw;
	align-items: center;
	border-radius: 1.389vw;
	width: 100%;
	height: 11.667vw;
	background: var(--background);
	resize: none;
	border: none;
	outline: none;
	color: var(--active-text);
	font-size: 1.389vw;
}

.textarea-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: visible;
}

.textarea--commentable::selection {
	background-color: var(--semi-active);
	color: inherit;
}

.comment-popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1000; /* Высокий z-index для перекрытия */
	transition: top 0.2s, left 0.2s;
}

.comment-popup__wrapper-image {
	width: 2.5vw;
	height: 0.556vw;
}

.comment-popup__form {
	display: flex;
	justify-content: space-between;
}

.commentInput {
	width: 100%;
	padding: 8px;
	/* остальные стили */
}

.textarea__div {
	align-items: flex-start;
}

.comment-popup__wrapper {
	position: fixed;
	transform: translateX(-50%);
	transition: top 0.1s, left 0.1s;
}

.mirror {
	pointer-events: none;
	color: var(--active-text);
}

.highlight-active {
	color: #eb5931;
	background: #f7e9e5;
	border-radius: 2px;
}

.highlight-commented {
	color: #eb5931;
	background: transparent;
}

.popupActions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.popupActions button {
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.popupActions button:last-child {
	background: #1890ff;
	color: white;
}

.editableDiv {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	cursor: text;
	background: var(--background);
	color: var(--active-text);
	font-size: 1.389vw;
	line-height: 120%;
	height: fit-content !important;
}

.orange-highlight {
	color: #eb5931 !important;
	display: inline;
	white-space: pre-wrap;
}

.commentPopupWrapper {
	position: absolute;
	transform: translate(-9.722vw, 0.694vw);
	z-index: 10000;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0;
}

.commentPopup {
	background: white;
	border-radius: 1.111vw;
	padding: 1.389vw;
	width: 19.444vw;
	pointer-events: auto;
	box-shadow: 0 0.239vw 0.556vw rgba(0, 0, 0, 0.15);
}

.commentInput {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.25vw;
	resize: none;
}

.popupActions {
	margin-top: 1.389vw;
	display: flex;
	gap: 0.556vw;
	justify-content: flex-end;
}

.popupActions button {
	padding: 0.417vw 0.833vw;
	border: none;
	border-radius: 0.278vw;
	font-size: 0.972vw;
	cursor: pointer;
}

.popupActions button:last-child {
	background: var(--active);
	color: white;
}

.commentInputWrapper {
	display: flex;
	justify-content: flex-start;
}
